$extrasmall : 420px;
$small : 600px;
$medium : 768px;
$large: 992px;
$extralarge: 1200px;

body {
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: none;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    overflow: hidden;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;

    //Username.html
    .wrapper {
        background-color: #E3E3E3;
        height: 100vh;
        @media only screen and (max-width: $large) {
            background-color: #3C3C3C !important;


        }



        .username_html {
            @media only screen and (max-width: $large) {
                background-color: #292929;


            }


            .align_top_balk {
                height: 470px;

                .top_balk {
                    position: relative;
                    z-index: 999;
                    background-color: #1F1F1F;
                    width: 100%;
                    height: 101px;
                    border-bottom-right-radius: 19px;
                    border-bottom-left-radius: 19px;

                    .align_nav {
                        width: 52%;
                        height: 100%;
                        display: inline-block;
                        float: right;
                        @media only screen and (max-width: $medium) {
                            width: auto;

                        }
                        .res {
                            display: none;
                            @media only screen and (max-width: $large) {
display: block;
                            }
                        }

                        .navbar {
                            background-color: #1F1F1F !important;
                            color: white !important;
                            height: 100%;

                            @media only screen and (max-width: $extralarge) {
                                float: right;


                            }

                            .navbar-nav {
                                .nav-item {
                                    width: 143px;
                                    height: 48px;
                                    border-radius: 23px;
                                    background-color: #1A78D1;
                                    line-height: 32px;
                                    /* padding-top: 24px; */
                                    text-transform: uppercase;
                                    text-align: left;
                                    margin-right: 20px;
                                    padding-left: 20px;

                                }

                                .active {
                                    background-color: white;
                                    color: black;
                                }

                                a {

                                    color: white;

                                    span {
                                        float: right;
                                        font-size: 19px;
                                        padding-right: 14px;
                                    }
                                }
                            }
                        }
                    }

                    .width_p_balk {
                        width: 41%;
                        display: inline-block;
                        @media only screen and (max-width: $medium) {
                            width: auto;

                        }

                    }

                    p {
                        line-height: 101px;
                        padding-left: 39px;
                        font-size: 36px;
                        color: white;

                        @media only screen and (max-width: $large) {
                            text-align: center;
                            padding-left: 0px;

                        }

                        span {
                            font-size: 20px;
                            color: #707070;
                        }
                    }


                }
                .chathtml{
                   
                    .rooms {
                        background-color: #3E3E3E;
                        height: 1050px;
                        margin-top: -39px;
                        padding: 0px;
                        
                        @media only screen and (max-width: $extralarge) {
                            // background-color: #3E3E3E;
                            // height: 1050px;
                            // margin-top: -39px;
                            // width: 100%;
                            // max-width: 100%;
                            // flex: none;
                            display: none;
                        }

                        .align_rooms {
                            width: 375px;
                            margin: 0 auto;
                            height: 673px;
                            margin-top: 72px;

                            ul {
                                padding: 0px !important;
                            }

                            .room {
                                width: 100%;
                                display: block;
                                height: 48px;
                                margin-bottom: 16px;


                                P {
                                    font-family: Arial, Helvetica, sans-serif;
                                    padding-top: 0px;
                                    font-size: 22px;
                                }

                                .left {
                                    font-weight: bold;
                                    color: white;
                                    height: 25px;
                                    width: 57%;
                                    display: inline-block;
                                    float: left;
                                }

                                .right {
                                    color: white;
                                    height: 25px;
                                    width: 24%;
                                    /* padding-right: 17px; */
                                    /* text-align: right; */
                                    float: right;

                                    span {
                                        color: #5F5F5F;
                                    }
                                }

                                .status {
                                    color: #5F5F5F;
                                    width: 98%;
                                    display: inline-block;
                                    /* display: none; */
                                    height: 25px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }

                    .chats {
                        height: calc(100vh - 196px);
                        overflow: scroll;
                        @media only screen and (max-width: $extralarge) {
                            height: calc(100vh - 196px);
                            max-height: 746px;
                            max-width: 100%;
                            overflow: scroll;
                            width: 100%;
                            flex: none;
                            background-color: #292929;
                            

                            #doei_nav{
                                position: fixed;
                                display: block;
                                z-index: 9999;
                                width: 92%;
                                a{
                                    width: 100%;
                                    line-height: 61px;
                                    text-transform: uppercase;
                                    height: 61px;
                                    background-color: #007EF4
                                    ;border: 1px solid black;
                                    color: white;
                                }
                            }
                        }
                     

                        ul {
                            padding: 0px;
                        }

                        li {

                            @media only screen and (max-width: $extralarge) {

                            width: 54%;
                            }
                            @media only screen and (max-width: $large) {

                                width: 100%;
                            }
                            width: 816px;
                            border-bottom-left-radius: 20px;
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;
                            padding: 28px;
                            float: right;
                            min-height: 117px;
                            height: auto;
                            list-style: none;
                            background-color: #2B2B2B;
                            margin-top: 37px;
                        }

                        .mymessage {
                            background-color: #007EF4;
                            float: right;
                        }

                        p {
                            color: white;
                            height: auto;
                            padding-top: 2px;
                            margin-left: 1px;


                        }

                        .message {
                            font-size: 19px;
                            padding-top: 17px;
                        }

                        .username {
                            font-size: 21px;

                            span {
                                font-weight: 300;
                                font-size: 16px;
                            }
                        }
                    }
                }
                .roomhtml {
                    .rooms {
                        background-color: #3E3E3E;
                        height: 1050px;
                        margin-top: -39px;
                        padding: 0px;
                        
                        @media only screen and (max-width: $extralarge) {
                            background-color: #3E3E3E;
                            height: 1050px;
                            margin-top: -39px;
                            width: 100%;
                            max-width: 100%;
                            flex: none;
                        }

                        .align_rooms {
                            width: 375px;
                            margin: 0 auto;
                            height: 673px;
                            margin-top: 72px;

                            ul {
                                padding: 0px !important;
                            }

                            .room {
                                width: 100%;
                                display: block;
                                height: 48px;
                                margin-bottom: 16px;


                                P {
                                    font-family: Arial, Helvetica, sans-serif;
                                    padding-top: 0px;
                                    font-size: 22px;
                                }

                                .left {
                                    font-weight: bold;
                                    color: white;
                                    height: 25px;
                                    width: 57%;
                                    display: inline-block;
                                    float: left;
                                }

                                .right {
                                    color: white;
                                    height: 25px;
                                    width: 24%;
                                    /* padding-right: 17px; */
                                    /* text-align: right; */
                                    float: right;

                                    span {
                                        color: #5F5F5F;
                                    }
                                }

                                .status {
                                    color: #5F5F5F;
                                    width: 98%;
                                    display: inline-block;
                                    /* display: none; */
                                    height: 25px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }

                    .chats {
                        height: 600px;
                        overflow: scroll;

                        ul {
                            padding: 0px;
                        }

                        li {
                            width: 816px;
                            border-bottom-left-radius: 20px;
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;
                            padding: 28px;
                            float: left;
                            min-height: 117px;
                            height: auto;
                            list-style: none;
                            background-color: #2B2B2B;
                            margin-top: 37px;
                        }

                        .mymessage {
                            background-color: #007EF4;
                            float: right;
                        }

                        p {
                            color: white;
                            height: auto;
                            padding-top: 2px;
                            margin-left: 1px;


                        }

                        .message {
                            font-size: 19px;
                            padding-top: 17px;
                        }

                        .username {
                            font-size: 21px;

                            span {
                                font-weight: 300;
                                font-size: 16px;
                            }
                        }
                    }
                }

                .align_input {
                    #doei{
                        display: block;
                        position: absolute;
                        z-index: 9999;
                        width: 100%;
                        a{
                            width: 100%;
                            line-height: 61px;
                            text-transform: uppercase;
                            height: 61px;
                            background-color: #007EF4
                            ;border: 1px solid black;
                            color: white;
                        }
                    }
                    .col-md-6 {
                        height: 355px;

                        @media only screen and (max-width: $large) {
                            width: 100% !important;
                            max-width: 100% !important;
                            flex: none;
                            display: block;
                            background-color: #292929;
                            height: auto;
                            min-height: 319px;

                        }

                        @media only screen and (max-width: $extrasmall) {
                            min-height: 319px;
                            text-align: center;
                            padding-left: 0px;
                            padding-right: 0px;

                        }

                    }

                    p {
                        width: 64%;
                        height: 100%;
                        margin: 0 auto;
                        /* line-height: 48px; */
                        font-size: 30px;
                        letter-spacing: 1px;
                                                padding-top: 19%;

                        @media only screen and (max-width: $extralarge) {

                            font-size: 27px;


                        }

                        @media only screen and (max-width: $large) {
                            font-size: 19px;
                            padding-top: 0px;
                            padding-left: 21px;
                            color: #606060;


                        }
                    }

                    form {


                        margin: 0 auto;

                        #formId {
                            margin-top: 274px;
                            margin-left: 40%;

                            @media only screen and (max-width: $large) {
                                margin-top: 0px;
                                margin-left: 0px;
                            }
                        }






                        .align_input_box {
                            background-color: #3C3C3C !important;
                            border-radius: 25px;
                            width: 370px;

                            @media only screen and (max-width: $large) {
                                margin: 0 auto;
                                margin-top: 167px;

                            }

                            input[type=text] {
                                width: 80%;
                                height: 54px;
                                color: white;
                                border: none;
                                background-color: #3C3C3C !important;
                                border-radius: 25px;

                                padding: 20px;
                                display: inline-block;



                            }

                            .submit {
                                height: 49px;
                                width: 14%;
                                margin: 3px;
                                border-radius: 56px;
                                background-color: #007EF4;
                                color: white;
                                float: right;
                                font-size: 24px;

                            }
                        }


                    }
                }

            }


            .bottom_balk {
                width: 100%;
                height: 107px;
                border-top-right-radius: 41px;
                border-top-left-radius: 41px;
                position: fixed;
                bottom: 0px;
                background-color: #1F1F1F;

                form {
                    width: 50%;
                    margin-right: 10%;
                    float: right;
                    @media only screen and (max-width: $extralarge) {
                        width: 100%;
                        margin: 0px;
                        float: none;
                    }

                    .submit {
                        height: 54px;
                        width: 60px;
                        border-radius: 56px;
                        background-color: #007EF4;
                        color: white;
                        float: right;
                        font-size: 24px;
                        margin-bottom: 4px;
                        margin-top: 26px;
                        margin-left: -66px;
                        z-index: 9;
                    }

                    input[type=text] {
                        width: 60%;
                        height: 54px;
                        margin-top: 26px;

                        color: white;
                        border: none;
                        background-color: #3C3C3C !important;
                        border-radius: 25px;

                        padding: 20px;
                        display: inline-block;
                    }
                }
            }


        }
    }
}