body {
  /* Track */
  /* Handle */
  /* Handle on hover */
  overflow: hidden;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important; }
  body ::-webkit-scrollbar {
    width: 10px; }
  body ::-webkit-scrollbar-track {
    background: none; }
  body ::-webkit-scrollbar-thumb {
    background: #888; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #555; }
  body .wrapper {
    background-color: #E3E3E3;
    height: 100vh; }
    @media only screen and (max-width: 992px) {
      body .wrapper {
        background-color: #3C3C3C !important; } }
    @media only screen and (max-width: 992px) {
      body .wrapper .username_html {
        background-color: #292929; } }
    body .wrapper .username_html .align_top_balk {
      height: 470px; }
      body .wrapper .username_html .align_top_balk .top_balk {
        position: relative;
        z-index: 999;
        background-color: #1F1F1F;
        width: 100%;
        height: 101px;
        border-bottom-right-radius: 19px;
        border-bottom-left-radius: 19px; }
        body .wrapper .username_html .align_top_balk .top_balk .align_nav {
          width: 52%;
          height: 100%;
          display: inline-block;
          float: right; }
          @media only screen and (max-width: 768px) {
            body .wrapper .username_html .align_top_balk .top_balk .align_nav {
              width: auto; } }
          body .wrapper .username_html .align_top_balk .top_balk .align_nav .res {
            display: none; }
            @media only screen and (max-width: 992px) {
              body .wrapper .username_html .align_top_balk .top_balk .align_nav .res {
                display: block; } }
          body .wrapper .username_html .align_top_balk .top_balk .align_nav .navbar {
            background-color: #1F1F1F !important;
            color: white !important;
            height: 100%; }
            @media only screen and (max-width: 1200px) {
              body .wrapper .username_html .align_top_balk .top_balk .align_nav .navbar {
                float: right; } }
            body .wrapper .username_html .align_top_balk .top_balk .align_nav .navbar .navbar-nav .nav-item {
              width: 143px;
              height: 48px;
              border-radius: 23px;
              background-color: #1A78D1;
              line-height: 32px;
              /* padding-top: 24px; */
              text-transform: uppercase;
              text-align: left;
              margin-right: 20px;
              padding-left: 20px; }
            body .wrapper .username_html .align_top_balk .top_balk .align_nav .navbar .navbar-nav .active {
              background-color: white;
              color: black; }
            body .wrapper .username_html .align_top_balk .top_balk .align_nav .navbar .navbar-nav a {
              color: white; }
              body .wrapper .username_html .align_top_balk .top_balk .align_nav .navbar .navbar-nav a span {
                float: right;
                font-size: 19px;
                padding-right: 14px; }
        body .wrapper .username_html .align_top_balk .top_balk .width_p_balk {
          width: 41%;
          display: inline-block; }
          @media only screen and (max-width: 768px) {
            body .wrapper .username_html .align_top_balk .top_balk .width_p_balk {
              width: auto; } }
        body .wrapper .username_html .align_top_balk .top_balk p {
          line-height: 101px;
          padding-left: 39px;
          font-size: 36px;
          color: white; }
          @media only screen and (max-width: 992px) {
            body .wrapper .username_html .align_top_balk .top_balk p {
              text-align: center;
              padding-left: 0px; } }
          body .wrapper .username_html .align_top_balk .top_balk p span {
            font-size: 20px;
            color: #707070; }
      body .wrapper .username_html .align_top_balk .chathtml .rooms {
        background-color: #3E3E3E;
        height: 1050px;
        margin-top: -39px;
        padding: 0px; }
        @media only screen and (max-width: 1200px) {
          body .wrapper .username_html .align_top_balk .chathtml .rooms {
            display: none; } }
        body .wrapper .username_html .align_top_balk .chathtml .rooms .align_rooms {
          width: 375px;
          margin: 0 auto;
          height: 673px;
          margin-top: 72px; }
          body .wrapper .username_html .align_top_balk .chathtml .rooms .align_rooms ul {
            padding: 0px !important; }
          body .wrapper .username_html .align_top_balk .chathtml .rooms .align_rooms .room {
            width: 100%;
            display: block;
            height: 48px;
            margin-bottom: 16px; }
            body .wrapper .username_html .align_top_balk .chathtml .rooms .align_rooms .room P {
              font-family: Arial, Helvetica, sans-serif;
              padding-top: 0px;
              font-size: 22px; }
            body .wrapper .username_html .align_top_balk .chathtml .rooms .align_rooms .room .left {
              font-weight: bold;
              color: white;
              height: 25px;
              width: 57%;
              display: inline-block;
              float: left; }
            body .wrapper .username_html .align_top_balk .chathtml .rooms .align_rooms .room .right {
              color: white;
              height: 25px;
              width: 24%;
              /* padding-right: 17px; */
              /* text-align: right; */
              float: right; }
              body .wrapper .username_html .align_top_balk .chathtml .rooms .align_rooms .room .right span {
                color: #5F5F5F; }
            body .wrapper .username_html .align_top_balk .chathtml .rooms .align_rooms .room .status {
              color: #5F5F5F;
              width: 98%;
              display: inline-block;
              /* display: none; */
              height: 25px;
              font-size: 17px; }
      body .wrapper .username_html .align_top_balk .chathtml .chats {
        height: calc(100vh - 196px);
        overflow: scroll; }
        @media only screen and (max-width: 1200px) {
          body .wrapper .username_html .align_top_balk .chathtml .chats {
            height: calc(100vh - 196px);
            max-height: 746px;
            max-width: 100%;
            overflow: scroll;
            width: 100%;
            flex: none;
            background-color: #292929; }
            body .wrapper .username_html .align_top_balk .chathtml .chats #doei_nav {
              position: fixed;
              display: block;
              z-index: 9999;
              width: 92%; }
              body .wrapper .username_html .align_top_balk .chathtml .chats #doei_nav a {
                width: 100%;
                line-height: 61px;
                text-transform: uppercase;
                height: 61px;
                background-color: #007EF4;
                border: 1px solid black;
                color: white; } }
        body .wrapper .username_html .align_top_balk .chathtml .chats ul {
          padding: 0px; }
        body .wrapper .username_html .align_top_balk .chathtml .chats li {
          width: 816px;
          border-bottom-left-radius: 20px;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          padding: 28px;
          float: right;
          min-height: 117px;
          height: auto;
          list-style: none;
          background-color: #2B2B2B;
          margin-top: 37px; }
          @media only screen and (max-width: 1200px) {
            body .wrapper .username_html .align_top_balk .chathtml .chats li {
              width: 54%; } }
          @media only screen and (max-width: 992px) {
            body .wrapper .username_html .align_top_balk .chathtml .chats li {
              width: 100%; } }
        body .wrapper .username_html .align_top_balk .chathtml .chats .mymessage {
          background-color: #007EF4;
          float: right; }
        body .wrapper .username_html .align_top_balk .chathtml .chats p {
          color: white;
          height: auto;
          padding-top: 2px;
          margin-left: 1px; }
        body .wrapper .username_html .align_top_balk .chathtml .chats .message {
          font-size: 19px;
          padding-top: 17px; }
        body .wrapper .username_html .align_top_balk .chathtml .chats .username {
          font-size: 21px; }
          body .wrapper .username_html .align_top_balk .chathtml .chats .username span {
            font-weight: 300;
            font-size: 16px; }
      body .wrapper .username_html .align_top_balk .roomhtml .rooms {
        background-color: #3E3E3E;
        height: 1050px;
        margin-top: -39px;
        padding: 0px; }
        @media only screen and (max-width: 1200px) {
          body .wrapper .username_html .align_top_balk .roomhtml .rooms {
            background-color: #3E3E3E;
            height: 1050px;
            margin-top: -39px;
            width: 100%;
            max-width: 100%;
            flex: none; } }
        body .wrapper .username_html .align_top_balk .roomhtml .rooms .align_rooms {
          width: 375px;
          margin: 0 auto;
          height: 673px;
          margin-top: 72px; }
          body .wrapper .username_html .align_top_balk .roomhtml .rooms .align_rooms ul {
            padding: 0px !important; }
          body .wrapper .username_html .align_top_balk .roomhtml .rooms .align_rooms .room {
            width: 100%;
            display: block;
            height: 48px;
            margin-bottom: 16px; }
            body .wrapper .username_html .align_top_balk .roomhtml .rooms .align_rooms .room P {
              font-family: Arial, Helvetica, sans-serif;
              padding-top: 0px;
              font-size: 22px; }
            body .wrapper .username_html .align_top_balk .roomhtml .rooms .align_rooms .room .left {
              font-weight: bold;
              color: white;
              height: 25px;
              width: 57%;
              display: inline-block;
              float: left; }
            body .wrapper .username_html .align_top_balk .roomhtml .rooms .align_rooms .room .right {
              color: white;
              height: 25px;
              width: 24%;
              /* padding-right: 17px; */
              /* text-align: right; */
              float: right; }
              body .wrapper .username_html .align_top_balk .roomhtml .rooms .align_rooms .room .right span {
                color: #5F5F5F; }
            body .wrapper .username_html .align_top_balk .roomhtml .rooms .align_rooms .room .status {
              color: #5F5F5F;
              width: 98%;
              display: inline-block;
              /* display: none; */
              height: 25px;
              font-size: 17px; }
      body .wrapper .username_html .align_top_balk .roomhtml .chats {
        height: 600px;
        overflow: scroll; }
        body .wrapper .username_html .align_top_balk .roomhtml .chats ul {
          padding: 0px; }
        body .wrapper .username_html .align_top_balk .roomhtml .chats li {
          width: 816px;
          border-bottom-left-radius: 20px;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          padding: 28px;
          float: left;
          min-height: 117px;
          height: auto;
          list-style: none;
          background-color: #2B2B2B;
          margin-top: 37px; }
        body .wrapper .username_html .align_top_balk .roomhtml .chats .mymessage {
          background-color: #007EF4;
          float: right; }
        body .wrapper .username_html .align_top_balk .roomhtml .chats p {
          color: white;
          height: auto;
          padding-top: 2px;
          margin-left: 1px; }
        body .wrapper .username_html .align_top_balk .roomhtml .chats .message {
          font-size: 19px;
          padding-top: 17px; }
        body .wrapper .username_html .align_top_balk .roomhtml .chats .username {
          font-size: 21px; }
          body .wrapper .username_html .align_top_balk .roomhtml .chats .username span {
            font-weight: 300;
            font-size: 16px; }
      body .wrapper .username_html .align_top_balk .align_input #doei {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 100%; }
        body .wrapper .username_html .align_top_balk .align_input #doei a {
          width: 100%;
          line-height: 61px;
          text-transform: uppercase;
          height: 61px;
          background-color: #007EF4;
          border: 1px solid black;
          color: white; }
      body .wrapper .username_html .align_top_balk .align_input .col-md-6 {
        height: 355px; }
        @media only screen and (max-width: 992px) {
          body .wrapper .username_html .align_top_balk .align_input .col-md-6 {
            width: 100% !important;
            max-width: 100% !important;
            flex: none;
            display: block;
            background-color: #292929;
            height: auto;
            min-height: 319px; } }
        @media only screen and (max-width: 420px) {
          body .wrapper .username_html .align_top_balk .align_input .col-md-6 {
            min-height: 319px;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px; } }
      body .wrapper .username_html .align_top_balk .align_input p {
        width: 64%;
        height: 100%;
        margin: 0 auto;
        /* line-height: 48px; */
        font-size: 30px;
        letter-spacing: 1px;
        padding-top: 19%; }
        @media only screen and (max-width: 1200px) {
          body .wrapper .username_html .align_top_balk .align_input p {
            font-size: 27px; } }
        @media only screen and (max-width: 992px) {
          body .wrapper .username_html .align_top_balk .align_input p {
            font-size: 19px;
            padding-top: 0px;
            padding-left: 21px;
            color: #606060; } }
      body .wrapper .username_html .align_top_balk .align_input form {
        margin: 0 auto; }
        body .wrapper .username_html .align_top_balk .align_input form #formId {
          margin-top: 274px;
          margin-left: 40%; }
          @media only screen and (max-width: 992px) {
            body .wrapper .username_html .align_top_balk .align_input form #formId {
              margin-top: 0px;
              margin-left: 0px; } }
        body .wrapper .username_html .align_top_balk .align_input form .align_input_box {
          background-color: #3C3C3C !important;
          border-radius: 25px;
          width: 370px; }
          @media only screen and (max-width: 992px) {
            body .wrapper .username_html .align_top_balk .align_input form .align_input_box {
              margin: 0 auto;
              margin-top: 167px; } }
          body .wrapper .username_html .align_top_balk .align_input form .align_input_box input[type=text] {
            width: 80%;
            height: 54px;
            color: white;
            border: none;
            background-color: #3C3C3C !important;
            border-radius: 25px;
            padding: 20px;
            display: inline-block; }
          body .wrapper .username_html .align_top_balk .align_input form .align_input_box .submit {
            height: 49px;
            width: 14%;
            margin: 3px;
            border-radius: 56px;
            background-color: #007EF4;
            color: white;
            float: right;
            font-size: 24px; }
    body .wrapper .username_html .bottom_balk {
      width: 100%;
      height: 107px;
      border-top-right-radius: 41px;
      border-top-left-radius: 41px;
      position: fixed;
      bottom: 0px;
      background-color: #1F1F1F; }
      body .wrapper .username_html .bottom_balk form {
        width: 50%;
        margin-right: 10%;
        float: right; }
        @media only screen and (max-width: 1200px) {
          body .wrapper .username_html .bottom_balk form {
            width: 100%;
            margin: 0px;
            float: none; } }
        body .wrapper .username_html .bottom_balk form .submit {
          height: 54px;
          width: 60px;
          border-radius: 56px;
          background-color: #007EF4;
          color: white;
          float: right;
          font-size: 24px;
          margin-bottom: 4px;
          margin-top: 26px;
          margin-left: -66px;
          z-index: 9; }
        body .wrapper .username_html .bottom_balk form input[type=text] {
          width: 60%;
          height: 54px;
          margin-top: 26px;
          color: white;
          border: none;
          background-color: #3C3C3C !important;
          border-radius: 25px;
          padding: 20px;
          display: inline-block; }
