<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chatter</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://kit.fontawesome.com/d24ca64b2d.js" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>

<body onload="start()">
  <div class="wrapper">
    <div class="container-fluid username_html m-0 p-0">
      <div class="row m-0">
        <div class="col-md-12 align_top_balk m-0 p-0">

          <div class="top_balk">
            <p class="width_p_balk">Chatrooms <span><%= room %></span> </p>
            <div class="align_nav">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <div class="res">

              
                  <span onclick="show()" id="show"  style="color:white"><i class="fas fa-bars"></i></span>
                  <span onclick="dontshow()" id="dontshow" style="color:white"><i class="fas fa-bars"></i></span>
  </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto" >
                    <a class="nav-item nav-link active" href="/rooms/<%= username %>">rooms <span></span></a>
                    <a class="nav-item nav-link" href="#">users</a>
                    <a class="nav-item nav-link" href="/">quit</a>
                  </div>
                </div>
               
              </nav>
            </div>
          </div>

          <div class="row m-0 p-0 align_input chathtml">
            <div class="col-md-4 rooms">
              <div class="align_rooms">
                <ul></ul>
                <!-- <div class="room">
                  <p class="left">dummy placeholder</p>
                  <p class="right">14<span><i class="fas fa-users"></i></span></p>
                  <p class="status">Dont worry, Be Javascript</p>
                </div> -->
              </div>


            </div>



            <div class="col-md-8 chats">
              <div id="doei_nav" >
                <a class="nav-item nav-link active" href="/rooms/<%= username %>">rooms <span></span></a>
                <a class="nav-item nav-link" href="#">users<span></span></a>
                <a class="nav-item nav-link" href="/">quit<span></span></a>
              </div>
              <div id="messages"></div>

            </div>
          </div>
        </div>
      </div>
      <div class="row bottom_balk m-0 p-0">
        <div class="col-md-12">
          <form action="">
            <div class="input-group">
              <input id="m" autocomplete="off" type="text" class="form-control" placeholder="Message..."
                aria-label="Message...">
              <input type="hidden" id="user" value="<%= username %>">
                <button type="submit" class="btn submit"><i class="fas fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous">
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const room = '<%= room %>';
    username = "<%= username %>";
    const socket = io('/room');

    $('form').submit(() => {
      let msg = $('#m').val();
      let username = $('#user').val();
      var socketConnection = io.connect();
      socketConnection.on('connect', function () {
        const sessionID = socketConnection.socket.sessionid;
      });


      socket.emit('message', {
        msg,
        room,
        username
      });
      $('#m').val('');
      return false;
    });

    socket.on('connect', () => {

      //socket id





      socket.emit('join', {
        room: room,
        username: username
      });
    })

    socket.on('doei', (msg) => {
      $('#join').append(msg + "<br>");



    })
    // chat rooms
    socket.on('kamer', (room) => {
      $('ul').append(`
      <a href="/rooms/${room}/<%= username %>"
      <li style="list-style: none;">
      <div class="room">
      <p class="left">${room}</p>
      <p class="right">14<span><i class="fas fa-users"></i></span></p>
      <p class="status">Dont worry, Be Javascript</p>
      </div>
      </li>
      </a>
      
      `);

    })
   
    socket.on('empty', () => {
      // $('#messages').append($('<li class="">').text(username));
      $('#messages').append("<li class='mymessage'style='background-color:red;'> <p class='username'>Server Bot</p> <p class='message' > Message cant be empty</p></li>");
      var height = 999999;
      $('div p').each(function (i, value) {
        height += parseInt($(this).height());


      });

      height += '';

      $('div').animate({
        scrollTop: height
      });

    })

    // chat history on socket session
    socket.on('history', (username, message) => {
      // $('#messages').append($('<li class="">').text(username));
      $('#messages').append("<li> <p class='username'>" + username +
        " <span> said  </span></p> <p class='message' > " + message + "</p></li>");

    })
    socket.on('message', (username, message) => {
      // $('#messages').append($('<li class="">').text(username));
      $('#messages').append("<li class='mymessage'> <p class='username'>You</p> <p class='message' > " + message + "</p></li>");
      //scroll to new message
      var height = 999999;
      $('div p').each(function (i, value) {
        height += parseInt($(this).height());


      });

      height += '';

      $('div').animate({
        scrollTop: height
      });
    })
    //timeout
    setTimeout(scrolltoview, 250);

    //scroll to last message
    function scrolltoview() {
      var height = 99999;
      $('div p').each(function (i, value) {
        height += parseInt($(this).height());
      });

      height += '';

      $('div').animate({
        scrollTop: height
      });
    }
    function start(){
  document.getElementById("show").style.display = "block";
  document.getElementById("dontshow").style.display = "none";

      document.getElementById("doei_nav").style.display = "none";

}
    function show(){
      document.getElementById("dontshow").style.display = "block";
      document.getElementById("show").style.display = "none";

      document.getElementById("doei_nav").style.display = "block";

    }

    function dontshow(){
      document.getElementById("show").style.display = "block";
      document.getElementById("doei_nav").style.display = "none";
      document.getElementById("dontshow").style.display = "none";


    }
  </script>
</body>

</html>